body {
    max-width: 100vw;
    overflow-x: hidden;
}
#slideshow {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#slideshow.fade-in {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
.modal video {
    max-width: 90vw;
    max-height: 80vh;
}
img.thumb {
    cursor: pointer;
    border: 2px solid #f87171;
    border-radius: 0.5rem;
    transition: opacity 0.3s;
    width: 100%;
    height: auto;
    object-fit: cover;
}
img.thumb:hover {
    opacity: 0.8;
}
